	#div_tong > #div_content > #div_danh_muc{
			width: 100%;
			margin: auto;
			height: auto;
			background-image: url('../banner_and_slide/nen_danh_muc.jpg');
			/*position: fixed;*/
			object-fit: fill;
			background-position: center center;
			background-size: cover;
			float: left;
			/*position: fixed;*/
		}
		#div_danh_muc > .danh_muc{
			width: 30%;
			float: left;
			
			background-color: rgb(0, 247, 251, 0.2);
			filter: alpha;
			border: 10px groove yellow;
			 
			height: 100%;
			position: relative;
			padding: 10px;
			margin: 20px;
		}
		.danh_muc > .xem_tat_ca{
			/*position: absolute;*/
			text-align: center;
			padding-top: 20px;
			width: 100%;
		}
		.xem_tat_ca a:hover{
			 background-color: yellow;
			   color: yellow;
		}
		.xem_tat_ca a.xem_all {
  			background-color: red;
  			/*color: white;*/

		}
		.xem_tat_ca a {
			/*float: left;*/
  			/*display: block;*/
  			width: 50%;
  			margin: auto;
 			color: rgb(30, 4, 153);
  			text-shadow: 0 0 150px #FFF, 0 0 60px #FFF, 0 0 10px #FFF;
   			 font-weight: bold;
		}
		#tieu_de_danh_muc{
			border: 3px groove red;
			width: 90%;
			margin: auto;
			height: 15%;
			text-align: center;
			padding-top: 10px;
			background-color: pink; 
			font-size: 20px;
			font-weight: bold;
			color: blue;
    	text-shadow: 0 0 150px #FFF, 0 0 60px #FFF, 0 0 10px #FFF;
		}
		#anh_danh_muc{
			text-align: center;
			padding-top: 10px;
		}
		.anh_danh_muc{
			transition: transform .3s;
		}
		.anh_danh_muc:hover {
			transform: scale(1.1);
			transform: scale(0.9);

		}
